@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --light-green: #daf7dc;
    --dark-blue: #2F4858;
    --light-blue: #86BBD8;
    --green: #9EE493;
    --blue: #336699;
    --font-primary: 'Bricolage Grotesque', serif;
    --font-secondary: 'Noto Sans Display', sans-serif;
    --radius: 40px;
}

*::selection {
    background-color: var(--light-blue);
    color: var(--light-green);
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    background-color: var(--light-green);
}

h1 {
    color: var(--blue);
    font-family: var(--font-primary);
    font-size: 96px;
    text-align: center;
    margin: 0;
}

p {
    color: var(--dark-blue);
    font-family: var(--font-secondary);
    font-size: 16px;
}

@media (max-width: 640px) {
    h1 {
        font-size: 65px;
    }
}