---
import Layout from '../layouts/Layout.astro';
import Hero from '../layouts/Hero.astro';
import Projects from '../layouts/Projects.astro';
---

<Layout title="Romain Minot - Portfolio">
	<main>
		<Hero />
		<Projects />
	</main>
</Layout>
