---
import { Icon } from 'astro-icon';
import Button from './Button.astro';
---

<section class="hero">
    <div class="hero__text hero__text--left">
        <span class="hero__text hero__text--left">Hello, I'm</span>
    </div>
    <h1 class="hero__title">Romain Minot</h1>
    <div class="hero__text hero__text--right">
        <span class="hero__text hero__text--right">and here is my work!</span>
    </div>
    <Button
        class="button--left hero__link"
        link="about"
        text="About"
    />
    <div class="hero__indication">
        <span>Scroll down</span>
        <Icon name="fluent:arrow-down-20-filled" />
    </div>
</section>

<script>
    import { gsap } from "gsap";
    import { separateCharactersFromString } from '../scripts/utils.ts';

    const heroTl = gsap.timeline({
        delay: .5,
        duration: .8
    });

    // Title
    const title = document.querySelector(".hero__title");
    if (title && title.textContent) {
        const titleTransformedText = separateCharactersFromString(title.textContent);
        title.innerHTML = titleTransformedText;
        const titleChars = title.querySelectorAll("span");

        titleChars.forEach((char, index) => {
            char.style.position = "relative";

            heroTl
            .from(char, {
                opacity: 0,
                top: 100,
                rotate: 22.5,
                transformOrigin: "left",
                ease: "power4.out",
                duration: 1,
            }, .03 * index)
            .to(char, {
                opacity: 1, 
                top: 0,
                rotate: 0,
                duration: .03,
            });
        });
    };

    // Texts
    const texts = document.querySelectorAll(".hero__text span");
    heroTl
    .to(texts, {
        opacity: 1, 
        top: 0,
        rotate: 0,
        duration: .8,
        ease: "power4.out"
    }, "-=.9")

    // Top link
    const link = document.querySelector(".hero__link");
    heroTl
    .to(link, {
        opacity: 1, 
        duration: .8,
        left: "2rem",
        ease: "power4.out"
    }, "<.6");

    // Indication scroll
    const indication = document.querySelector(".hero__indication");
    heroTl
    .to(indication, {
        opacity: 1, 
        duration: .8,
        bottom: "1.5rem",
        ease: "power4.out"
    }, "<");
</script>

<style lang="scss">
    .hero {
        position: relative;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 95vh;
        &__title {
            position: relative;
            overflow: hidden;
        }
        &__text, &__indication {
            font-family: var(--font-secondary);
        }
        &__text {
            overflow: hidden;
            color: var(--delft-blue);
            font-size: 24px;
            font-weight: 300;
            width: 592px;
            span {
                position: relative;
                display: inline-block;
                opacity: 0;
                top: -100px;
                transform: rotate(-22.5deg);
                transform-origin: left;
            }
            &--left {
                text-align: left;
            }
            &--right {
                text-align: right;
            }
        }
        &__indication {
            position: absolute;
            bottom: 2.25rem;
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: .25rem;
            span {
                white-space: nowrap;
                font-weight: 500;
                color: var(--delft-blue);
                font-size: 16px;
            }
            svg {
                width: 1rem;
                color: var(--cambridge-blue);
                animation: 1s ease-in-out infinite arrow;
            }
        }
    } 

    @keyframes arrow {
        0% {
           transform: translateY(0);
        }

        25% {
            transform: translateY(-2px);
        }

        50% {
           transform: translateY(0);
        }

        75% {
           transform: translateY(2px);
        }

        100% {
            transform: translateY(0px);
        }
    }
</style>
