<section class="hero">
    <span class="hero__text hero__text--left">Hello, I'm</span>
	<h1>Romain Minot</h1>
	<span class="hero__text hero__text--right">and here is my work!</span>
    <span class="hero__indication">Scroll down</span>
</section>

<style lang="scss">
    .hero {
        position: relative;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 95vh;
        &__text, &__indication {
            font-family: var(--font-secondary);
        }
        &__text {
            color: var(--delft-blue);
            font-size: 24px;
            font-weight: 300;
            width: 592px;
            &--left {
                text-align: left;
            }
            &--right {
                text-align: right;
            }
        }
        &__indication {
            position: absolute;
            bottom: 2rem;
            font-weight: 500;
            color: var(--cambridge-blue);
            font-size: 16px;
        }
    }
</style>
