---
import '../styles/global.css';

interface Props {
	title: string;
	name: string;
}

const { title, name } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<!-- <body data-barba="wrapper">
		<main data-barba="container" data-barba-namespace={name}>
			<slot />
		</main>
	</body> -->
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>

<script>
	/* import barba from '@barba/core';
	import { gsap } from 'gsap';

	barba.init({
		transitions: [{
			name: 'opacity-transition',
			leave(data) {
				return gsap.to(data.current.container, {
					opacity: 0
				});
			},
			enter(data) {
				return gsap.from(data.next.container, {
					opacity: 0
				});
			}
		}]
	}); */
</script>