<section class="projects">
</section>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    gsap.from(".projects", {
        scrollTrigger: {
            trigger: ".projects",
            scrub: true,
            start: "top bottom",
            end: "top center",
        },
        width: "75%"
        //borderRadius: "25% 25% 0 0"
    });
</script>

<style lang="scss">
    .projects {
        position: relative;
        background-color: var(--orange);
        left: 50%;
        transform: translateX(calc(-50% - 1.5rem));
        border-radius: 40px;
        width: calc(100% - 3rem);
        height: calc(100vh - 3rem);
        margin: 1.5rem;
    }
</style>
